# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/vcs.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/quanteodstocks.iml
.idea/workspace.xml
__pycache__
.idea
